.u-section-1 .u-sheet-1 {
  min-height: 275px;
}

.u-section-1 .u-image-1 {
  width: 207px;
  height: 207px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 54px auto 14px 467px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 48px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 45px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 669px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 262px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 58px auto 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-2 .u-btn-1 {
  margin: 20px 30px 0;
}

.u-section-2 .u-btn-2 {
  margin: -45px auto 0 480px;
  padding: 10px 21px;
}

.u-section-2 .u-btn-3 {
  margin: -45px auto 0 180px;
  padding: 10px 19px;
}

.u-section-2 .u-btn-4 {
  margin: -45px auto 0 330px;
  padding: 10px 15px;
}

.u-section-2 .u-btn-5 {
  margin: -45px 404px 0 auto;
  padding: 10px 21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 357px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 57px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 207px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 167px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 299px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 129px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 157px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 16px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 24px;
    margin-right: 200px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -114px;
    margin-right: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 77px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -102px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -45px;
    margin-right: 18px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 527px;
}